__pycache__/
.venv/
.env
.vscode/
.copilotignore
.github/
doc_grader.egg-info

# Messing around in here
test/
out/
deprecated/*
unsloth*
outputs
baduml-classifier

# Data
data/
!data/clean_ipp_data.csv

