__pycache__/
.venv/
.env
.vscode/
.copilotignore
.github/
src/doc_grader.egg-info

# Messing around in here
test/
out/
deprecated/*

# Data
data/raw
data/ifj_13_to_24
data/ipp_13_to_24
data/clean_ipp_data.csv
!data/overview.xlsx
